<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OTP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h3>Kode OTP</h3>
    <p>Kode otp adalah {{otp_code}}</p>
  </head>
  <body>

  </body>
</html>
